* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url(../media/b2.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Poppins", sans-serif;
}
.margin-top {
  padding-top: 150px;
}
.padding-top {
  padding-top: 60px;
}
.text-darken {
  color: rgb(41, 39, 39);
}
a {
  color: rgb(41, 39, 39);
}
a:hover {
  transition: all 250ms ease-in-out;
  color: rgba(41, 39, 39, 0.87);
}
/* .bg-overlay {
  background-color: rgba(147, 153, 155, 0.219);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
} */
